.navbar-nav .nav-link {
    color: #fff;
    background-color: #dc3545;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropend .dropdown-toggle {
    color: #dc3545;
    margin-left: 1em;
}

.dropdown-item:hover {
    background-color: #dc3545;
    color: #fff;
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .125em;
    margin-left: .125em;
}

@media screen and (min-width:769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropend .dropdown-toggle {
        margin-top: 10px;
        margin-left: .5em;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: rgb(255, 255, 255);
    }
}

    .nav-item {
    flex: 1;
    text-align: center;
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    text-decoration: none;
    color:white ;
    margin-bottom: -10px;
    }
    .nav-item:hover {
    background-color: var(--primary);
    color: #dc3545 ; 
    }
    .nav-donate{
        padding-left: 30px;
        padding-top: 5px;
    }

    /* footer */
    footer{
        background: var(--exDark);
        color: #fff;
        text-align: center;
        padding: 2rem 0;
        }
        .social-links{
        display: flex;
        justify-content: center;
        margin-bottom: 1.4rem;
        }
        .social-links a{
        border: 2px solid #fff;
        color: #fff;
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration: none;
        margin: 0 0.3rem;
        transition: all 0.5s ease;
        }
        
        .social-links a:hover{
        background: #000;
        color: var(--exDark);
        }
        .footer span{
        margin-top: 1rem;
        display: block;
        font-family: var(--OpenSans);
        letter-spacing: 2px;
        }
        
        
